<form action="sendAddress" class="form">
  <div class="row">
    <div class="col-lg-6">
      <div class="fieldset">
          <legend class="fieldset-legend">Votre identité</legend>
        <div class="form-group">
          <p>Prénom</p>
          <input id="firstinput" type="text" aria-label="Prénom">
          </p>
        </div>
        <div class="form-group">
          <p>Nom</p>
          <input type="text" aria-label="Nom">
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="fieldset">
        <legend class="fieldset-legend">Vos coordonnées</legend>
        <div class="form-group">
          <p>Rue</p>
          <input type="text" aria-label="rue">
        </div>
        <div class="form-group">
          <p>Code postal</p>
          <input type="text" aria-label="code postal">
        </div>
        <div class="form-group">
          <p>Ville</p>
          <input type="text" aria-label="ville">
        </div>
        <div class="form-group">
          <p>Pays</p>
          <input type="text" aria-label="Pays">
        </div>
      </div>
    </div>

  </div>



  <input id="lastinput" ref="lastFocusableEl" type="submit" value="Entrer" role="button" aria-label="Envoyer le formulaire de ouf">
</form>